@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d93d04;
    --foreground: #f1f1f1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow: hidden; /* Remove o scroll nativo do corpo da página */
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
